$scroll-height: 7px !default;
$scroll-width: 7px !default;

$scroll-track-color: #ddd !default;
$scroll-track-radius: 10px !default;

$scroll-thumb-color: #aaa !default;
$scroll-thumb-radius: 10px !default;
